doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 TodoApp
      nav
        a(href="/") Главная
        a(href="/new") Новая задача
        a(href="/about") О нас
    main
      block content